* {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	}
a {
	color: orange !important;
}
/*
 *
 * Header
 *
 */

header {
	background-color: orange;
	text-align: left;
	}

#head_c{
	background-color: black;
	color: white;
}
#name {
	color: orange;
	font-size: 40px;
}

#role {
	font-size: 22px;
	color: gray;
}

#skills-h3 {
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 20px;
}

/*
 *
 * Main
 *
 */

 section{background-color: orange;}

#work_c{
 	background-color: gray;
 	color: black !important;
 }

#map {
	display: block;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

#mapDiv {
	height: 400px;
	width: 100%;
	padding-bottom: 5%;
}