* {
	font-family: "Orbitron", sans-serif;
	font-size: 20px;
}

body {
	background-color: #000000;
	background-image: url("http://www.transparenttextures.com/patterns/low-contrast-linen.png"); repeat 0 0;
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*
 *
 * Header
 *
 */

#name {
	color: #FF5700;
	font-size: 40px;
}

#role {
	font-size: 22px;
	color: #E8DDCB;
}

#skills-h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #E8DDCB;
}

#pic {
	margin-top: 20px;
	margin-bottom: 10px;
}

#head_c {
	padding-top: 70px;
}

/*
 *
 * Other Sections
 *
 */

section a {
	color: #FF5700;
}

.resume_sec h2 {
	color: #E8DDCB;
	margin-bottom: 30px;
	margin-top: 10px;
}

.project-entry {
	margin-bottom: 10px;
}

.c_type {
	color: #FF5700;
}

.resume_sec {
 	color: #4DD3B0;
 	padding-bottom: 10px;
}

#mapDiv {
	height: 350px;
	margin-bottom: 10px;
}