* {
	font: 20px "Orbitron", sans-serif;
}

body {
	background: #000000 url("http://www.transparenttextures.com/patterns/low-contrast-linen.png") repeat 0 0;
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*
 *
 * Header
 *
 */

#name {
	color: #ff5700;
	font-size: 40px;
}

#role {
	font-size: 22px;
	color: #e8ddcB;
}

#skills-h3 {
	margin: 20px 0px 20px 0px;
	color: #e8ddcB;
}

#pic {
	margin: 20px 0px 10px 0px;
}

#head_c {
	padding-top: 70px;
}

/*
 *
 * Other Sections
 *
 */

section a {
	color: #ff5700;
}

body h2 {
	color: #e8ddcB;
	margin: 10px 0px 30px 0px;
}

.project-entry {
	margin: 0px 0px 10px 0px;
}

.contact_color {
	color: #ff5700;
}

.resume_sec {
 	color: #4dd3b0;
 	padding: 0px 0px 10px 0px;
}

#mapDiv {
	height: 350px;
	margin: 0px 0px 10px 0px;
}